body {
    background-color: #123456;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

#grid {
    width: 515px;
    height: 515px;
    margin: 0 auto;
    line-height: 0;
}

#score {
    width: 515px;
    height: 100px;
    background-color: #1A2B2B;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.square {
    width: calc(12.5% - 6px);
    height: calc(12.5% - 6px);
    border: none;
    display: inline-flex;
    float: left;
    justify-content: center;
    align-items: center;
}

.piece {
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.white {
    background-color: #DDD;
}

.red {
    background-color: #F66;
}

.black {
    background-color: #1A2B2B;
}

.selected {
    background-color: yellow;
}
.turn-black {
    background-color: #1A2B2B;
    color: #DDD;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
}
.turn-white {
    background-color: #DDD;
    color: #1A2B2B;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
}
span {
    text-transform: uppercase;
}
#container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.king {
    border: 2px ;
}
